{
  "extends": ["4catalyzer-react", "4catalyzer-typescript", "prettier"],
  "plugins": ["prettier"],
  "globals": {
    "__DEV__": false
  },
  "rules": {
    "no-param-reassign": "off",
    "prettier/prettier": "error",
    "react/prop-types": "off"
  },
  "overrides": [
    {
      "files": ["test/**", "www/*.js"],
      "env": {
        "jest": true
      },
      "rules": {
        "global-require": "off",
        "no-console": "off",
        "import/no-extraneous-dependencies": [
          "error",
          { "devDependencies": true }
        ]
      }
    }
  ]
}
