.Widget-module__cls1 { /*!*/ }
.Widget-module__cls2 {

height: 20px;
width: 30px;
background-color: #dfd;
}
.index-Doodad-module__cls1 {
  /*!*/
}

.index-Doodad-module__cls2 {
  height: 20px;
  width: 30px;
  background-color: red;
}
.Button-styles-module__cool {
    content: '';
  }
.Button-module__cls1 { /*!*/ }
.Button-module__cls2 {
}
.main-styles-module__parent {
    color: red;
  }

  .main-styles-module__test > .Button-styles-module__cool, .main-styles-module__test > .Widget-module__cls1 {
    holla: yo;
  }
.main-FancyBox-module__cls1 { /*!*/ }
.main-FancyBox-module__cls2 {

color: red;
width: 75px;
}
.main-FancyBox-module__cls2.main-FancyBox-module__primary {
background: white;
color: palevioletred;
}
.main-FancierBox-module__cls1 { /*!*/ }
.main-FancierBox-module__cls2 {

color: ultra-red;
}
.main-FancierBox-module__cls2 > .main-FancyBox-module__cls1 {
padding: 4em;
}
.main-styles-module__parent > .main-FancierBox-module__cls2 {
margin: 2em;
}
/* these are the same selector */
.main-FancierBox-module__cls2 > .Button-module__cls1 {
margin-left: 4px;
}
.main-FancierBox-module__cls2 > .Button-module__cls1 {
margin-left: 8px;
}
.main-CssProp1_div-module__cls1 { /*!*/ }
.main-CssProp1_div-module__cls2 {

color: red;
}
.main-CssProp1_div-module__cssProp1DivVariant0 {
color: blue;
}
.main-CssProp2_span-module__cls1 { /*!*/ }
.main-CssProp2_span-module__cls2 {

color: blue;
}
