.index__cls1-lcM { /*!*/ }
.index__cls2-zQ3 {

height: 20px;
width: 30px;
background-color: #dfd;
}
.index__cls1-2tw {
  /*!*/
}

.index__cls2-2qf {
  height: 20px;
  width: 30px;
  background-color: red;
}
.Button__cool-1Gm {
    content: '';
  }
.Button__cls1-3Yg { /*!*/ }
.Button__cls2-1qB {
}
.main__parent-23u {
    color: red;
  }

  .main__test-3Es > .Button__cool-1Gm, .main__test-3Es > .index__cls1-lcM {
    holla: yo;
  }
.main__cls1-319 { /*!*/ }
.main__cls2-1cO {

color: red;
width: 75px;
}
.main__cls2-1cO.main__primary-3Nc {
background: white;
color: palevioletred;
}
.main__cls1-3Ch { /*!*/ }
.main__cls2-3n6 {

color: ultra-red;
}
.main__cls2-3n6 > .main__cls1-319 {
padding: 4em;
}
.main__parent-23u > .main__cls2-3n6 {
margin: 2em;
}
/* these are the same selector */
.main__cls2-3n6 > .Button__cls1-3Yg {
margin-left: 4px;
}
.main__cls2-3n6 > .Button__cls1-3Yg {
margin-left: 8px;
}
.main__cls1-1cT { /*!*/ }
.main__cls2-3Ni {

color: red;
}
.main__cssProp1DivVariant0-2Mw {
color: blue;
}
.main__cls1-j2C { /*!*/ }
.main__cls2-3WV {

color: blue;
}
