.cls1 { /*!*/ }
.cls2 {
composes: cls1;

composes: bar foo from global;

color: ultra-red;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uLy4uLy4uL2ZpeHR1cmVzL3N0eWxlZC1GYW5jaWVyQm94Lm1vZHVsZS5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsUUFBUSxJQUFJLEVBQUU7QUFDZDtBQUNBLGNBQWM7O0FBRWQsNkJBQTZCOztBQUU3QixnQkFBZ0I7QUFDaEIiLCJmaWxlIjoiLi4vLi4vLi4vLi4vZml4dHVyZXMvc3R5bGVkLUZhbmNpZXJCb3gubW9kdWxlLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5jbHMxIHsgLyohKi8gfVxuLmNsczIge1xuY29tcG9zZXM6IGNsczE7XG5cbmNvbXBvc2VzOiBiYXIgZm9vIGZyb20gZ2xvYmFsO1xuXG5jb2xvcjogdWx0cmEtcmVkO1xufSJdfQ== */