@value item as a0 from "styled-interpolations-base.css";


.cls1 { /*!*/ }
.cls2 {
composes: cls1;

composes: global from global;
composes: other from "styled-interpolations-other.css";
composes: item from "styled-interpolations-base.css";

color: red;
width: 75px;

&.a0 {
padding: 5rem;
}

&.primary {
background: white;
color: palevioletred;
}
}