.cls1 { /*!*/ }
.cls2 {
composes: cls1;

color: red;
width: 75px;
}
.cls2.primary {
background: white;
color: palevioletred;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uLy4uLy4uL2ZpeHR1cmVzL3N0eWxlZC10YWctRmFuY3lCb3gubW9kdWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxRQUFRLElBQUksRUFBRTtBQUNkO0FBQ0EsY0FBYzs7QUFFZCxVQUFVO0FBQ1YsV0FBVztBQUtYO0FBSkE7QUFDQSxpQkFBaUI7QUFDakIsb0JBQW9CO0FBQ3BCIiwiZmlsZSI6Ii4uLy4uLy4uLy4uL2ZpeHR1cmVzL3N0eWxlZC10YWctRmFuY3lCb3gubW9kdWxlLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5jbHMxIHsgLyohKi8gfVxuLmNsczIge1xuY29tcG9zZXM6IGNsczE7XG5cbmNvbG9yOiByZWQ7XG53aWR0aDogNzVweDtcbiYucHJpbWFyeSB7XG5iYWNrZ3JvdW5kOiB3aGl0ZTtcbmNvbG9yOiBwYWxldmlvbGV0cmVkO1xufVxufSJdfQ== */