.cls1 { /*!*/ }
.cls2 {
composes: cls1;

background-color: red;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uLy4uLy4uL2ZpeHR1cmVzL3dpdGgtcHJvcHMtUmVkUGFzc3dvcmRJbnB1dC5tb2R1bGUuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLFFBQVEsSUFBSSxFQUFFO0FBQ2Q7QUFDQSxjQUFjOztBQUVkLHFCQUFxQjtBQUNyQiIsImZpbGUiOiIuLi8uLi8uLi8uLi9maXh0dXJlcy93aXRoLXByb3BzLVJlZFBhc3N3b3JkSW5wdXQubW9kdWxlLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5jbHMxIHsgLyohKi8gfVxuLmNsczIge1xuY29tcG9zZXM6IGNsczE7XG5cbmJhY2tncm91bmQtY29sb3I6IHJlZDtcbn0iXX0= */