.cls1 { /*!*/ }
.cls2 {
composes: cls1;

color: orange;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uLy4uLy4uL2ZpeHR1cmVzL2Nzcy1wcm9wLUNzc1Byb3AzX2J1dHRvbi5tb2R1bGUuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLFFBQVEsSUFBSSxFQUFFO0FBQ2Q7QUFDQSxjQUFjOztBQUVkLGFBQWE7QUFDYiIsImZpbGUiOiIuLi8uLi8uLi8uLi9maXh0dXJlcy9jc3MtcHJvcC1Dc3NQcm9wM19idXR0b24ubW9kdWxlLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5jbHMxIHsgLyohKi8gfVxuLmNsczIge1xuY29tcG9zZXM6IGNsczE7XG5cbmNvbG9yOiBvcmFuZ2U7XG59Il19 */