.cls1 { /*!*/ }
.cls2 {
composes: cls1;

padding: 4rem;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uLy4uLy4uL2ZpeHR1cmVzL3N0eWxlZC1pbnRlcnBvbGF0aW9ucy1iYXNlLm1vZHVsZS5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsUUFBUSxJQUFJLEVBQUU7QUFDZDtBQUNBLGNBQWM7O0FBRWQsYUFBYTtBQUNiIiwiZmlsZSI6Ii4uLy4uLy4uLy4uL2ZpeHR1cmVzL3N0eWxlZC1pbnRlcnBvbGF0aW9ucy1iYXNlLm1vZHVsZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIuY2xzMSB7IC8qISovIH1cbi5jbHMyIHtcbmNvbXBvc2VzOiBjbHMxO1xuXG5wYWRkaW5nOiA0cmVtO1xufSJdfQ== */