.cls1 { /*!*/ }
.cls2 {
composes: cls1;

composes: button-with-caret from global;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uLy4uLy4uL2ZpeHR1cmVzL3N0eWxlZC1pbnRlcnBvbGF0aW9ucy1CdXR0b24ubW9kdWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxRQUFRLElBQUksRUFBRTtBQUNkO0FBQ0EsY0FBYzs7QUFFZCx1Q0FBdUM7QUFDdkMiLCJmaWxlIjoiLi4vLi4vLi4vLi4vZml4dHVyZXMvc3R5bGVkLWludGVycG9sYXRpb25zLUJ1dHRvbi5tb2R1bGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLmNsczEgeyAvKiEqLyB9XG4uY2xzMiB7XG5jb21wb3NlczogY2xzMTtcblxuY29tcG9zZXM6IGJ1dHRvbi13aXRoLWNhcmV0IGZyb20gZ2xvYmFsO1xufSJdfQ== */