@value cls1 as a0 from "styled-interpolations-base.css";

.cls1 { /*!*/ }
.cls2 {
composes: cls1;

composes: global from global;
composes: cls2 from "styled-interpolations-other.css";
composes: cls2 from "styled-interpolations-base.css";

color: red;
width: 75px;

&.a0 {
padding: 5rem;
}

&.primary {
background: white;
color: palevioletred;
}
}